# GitHub Action
# Egyszerű példa a GitHub Action használatára
name: GitHub Action - Alap
# Mikor futtassuk a workflow-t
on:
  # A Workflow a push és a pull_request eseményre fut le más-más branch-ekre
  push:
    branches: ["20241130demo"]
  pull_request:
    branches: ["main"]
  # Engedélyezzük a manuális futtatást is
  workflow_dispatch:
# Fő feladat
jobs:
  # Egyszerű build feladat
  build:
    # Milyen operációs rendszeren futtassuk a workflow-t
    runs-on: ubuntu-latest
  # Lépések sorban
    steps:
      # Először is töltsük le a repót
      - uses: actions/checkout@v3
      # Futassunk egy parancsot
      - name: Egy soros parancsok
        run: echo Hello, world!
      # Futtassunk több parancsot egyben
      - name: Több soros parancsok
        run: |
          echo "##[section]Ez egy nagyobb rész"
          echo "##[command]Fájlok listája"
          ls -l
          echo "##[debug]Helyi mappa"
          pwd
          echo "##[debug]Ez egy olyan üzenet, amit akkor használunk, ha valami hibajavítási üzenetet szeretnénk kiiratni"
          env